

  img {
    width: 100%;
    justify-content: center;
  }

  p{
    text-align: center;
  }

  .box_9{
    width: 300px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}

.box_10{
    width: 300px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}

.box_11{
    width: 300px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}

.grid_1-1-1,
.flex_col {
  display: grid;
  grid-template-columns: 1fr;
}

  @media (min-width:600px){
  .grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10%;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  
  }