/*
 .portfoliowrapper {
    display: grid;
    flex-direction: row;
    justify-content: space-around;
 }
 */



 /*Der bliver sat bevægelse på container*/
.pulse_kf {
   animation-name: pulse_kf;
   animation-duration: 1s;
   animation-iteration-count: infinite;
 }

 @keyframes pulse_kf {
   0% {
       transform: scale(1, 1);
   }

   50% {
       transform: scale(1.1, 1.1);
   }

   100% {
       transform: scale(1, 1);
   }
}

container laves mindre/større og tilpasses den valgte størrelse
#knap_container {
    position: absolute;
    top: 60%;
    left: 23%;
    height: 2%;
    width: 10%;
}

@media (min-width:600px) {

/*container laves mindre/større og tilpasses den valgte størrelse*/
#knap_container {
    position: relative;
    margin-top: 28%;
    left: 23%;
    height: 2%;
    width: 15%;
}


.homepage {
    box-sizing: border-box;
    background-image: url(billeder/baggrundpic.jpeg);
    width: 100%;
    height: auto;
}

}